body {
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

.space25 {
  display: block;
  margin-bottom: 25px
}

.space50 {
  display: block;
  margin-bottom: 50px
}

.space75 {
  display: block;
  margin-bottom: 75px
}

.space100 {
  display: block;
  margin-bottom: 100px
}

.barTop {
  margin-bottom: 45px;
}

.barTop1 {
  background: #2E4865;
  height: 15px;
}

.barTop2 {
  background: #005CA4;
  height: 15px;
}

.barTop3 {
  background: #54ACE2;
  height: 15px;
}

footer .barTop {
  line-height: 50px;
  color: #fff;
  margin-bottom: 0px;
}

footer .barTop1 {
  background: #2E4865;
  height: 50px;
}

footer .barTop2 {
  background: #005CA4;
  height: 50px;
}

footer .barTop3 {
  background: #54ACE2;
  height: 50px;
}

/************************************
 min-width: 768px
 ************************************/
@media (min-width: 768px) {
  .webmail {
    position: relative;
    margin-top: -130px;
  }

  .navbase {
    margin-top: 80px;
  }

  .navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
  }

  .areas {
    color: #ffffff;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  }

  .areas h2, .areas p {
    margin-left: 10px;
  }

  .areas p {
    font-size: 18px;
    max-width: 220px;
    margin-top: 20px;
  }

  .areas .eletrica {
    background: #2E4865;
    min-height: 240px;
    border: 5px solid #fff;
  }

  .areas .mecanica {
    background: #007C66;
    min-height: 240px;
    border: 5px solid #fff;
  }

  .areas .assistencia {
    background: #E5BE00;
    min-height: 240px;
    border: 5px solid #fff;
  }
}

/************************
 Area
 ************************/
.square {
  position: relative;
  width: 100%;
  max-width: 640px;
  height: 380px;
  background: #C2C4C9;
  color: #fff;
  margin: 0 auto;
  margin-bottom: -280px;
  font-weight: lighter;
}

/************************************
 max-width: 768px
 ************************************/
@media (max-width: 768px) {

  .areas {
    color: #ffffff;
  }

  .areas .row {
    padding: 0;
    margin: 0;

  }

  .areas h2,
  .areas p {
    margin-left: 10px;
  }

  .areas p {
    font-size: 18px;
    max-width: 220px;
    margin-top: 20px;
  }

  .areas .eletrica {
    background: #2E4865;
    min-height: 240px;
  }

  .areas .eletrica h2 {
    padding-top: 20px;
  }

  .areas .mecanica {
    background: #007C66;
    min-height: 240px;
  }

  .areas .assistencia {
    background: #E5BE00;
    min-height: 240px;
  }

}

.xtras {
  font-weight: lighter;
}

.xtras h2 {
  color: #007C66
}

.xtras h4 {
  display: block;
  margin: 20px auto 20px auto;
  font-size: 16px;
  font-weight: lighter;
}

.xtras p {
  height: 240px;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  font-size: 12px;
}

.assistencia .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

/*********************
 modificaçoes carousel 
 *********************/
.carousel-caption {
  height: 170px;
  background-color: rgba(0, 0, 0, .7);
  right: 0%;
  left: 0%;
  padding: 50px 70px 15px 70px;
  text-align: left;
}

.carousel-caption h1 {
  margin: 0px;
  padding: 0px;
}

.carousel-caption p {
}

.page {
  margin-top: 200px
}

.page h2 {
  line-height: 50px;
  background-color: #fff;
}

.page h2 span {
  padding-left: 170px;
  background-color: #005CA4;
  margin-right: 10px;
}

.page .barBlue {
  background-color: #005CA4;
  display: block;
  height: 28px;
}

.page p {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: justify;
}

.page .title {
  text-align: center;
  background: #54ACE2;
  color: #fff;
  height: 285px;
  font-size: 32px;
  padding-top: 100px;
}

.servicos .bg1 {
  background-image: url('../images/servicos/eletricaHover.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 285px;
}

.servicos .bg2 {
  background-image: url('../images/servicos/mecanicaHover.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 285px;
}

.servicos .bg3 {
  background-image: url('../images/servicos/assistenciaHover.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 285px;
}

.servicos a > .bg1:hover {
  background-image: url('../images/servicos/eletrica.jpg');
}

.servicos a > .bg2:hover {
  background-image: url('../images/servicos/mecanica.jpg');
}

.servicos a > .bg3:hover {
  background-image: url('../images/servicos/assistencia.jpg');
}

.servicos .bg1active {
  background-image: url('../images/servicos/eletrica.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 285px;
}

.servicos .bg2active {
  background-image: url('../images/servicos/mecanica.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 285px;
}

.servicos .bg3active {
  background-image: url('../images/servicos/assistencia.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 285px;
}