@media (min-width: 1200px) {
  #myCarousel {
    margin-top: 160px;
  }

  #navbar {
    margin-top: 85px;
  }

  .container {
    max-width: 1020px;
    margin: 0 auto;
  }

  .carousel {
    height: 545px;
    margin-bottom: 60px;
  }

  .carousel-inner > .item > img {
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100%;
    height: 545px;
  }

  .carousel-inner {
    height: 545px;
  }
}

@media (min-width: 768px) {
  #myCarousel {
    margin-top: 160px;
  }

  #navbar {
    margin-top: 85px;
  }

  .container {
    width: 98%;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  #myCarousel {
    margin-top: 135px;
  }

  #navbar {
    margin-top: 85px;
  }
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-collapse .navbar-nav {
  background-color: rgba(255, 255, 255, .9);
  margin-top: 0;
}

.area1 {
  margin: 0 auto;
  color: #fff
}

.colblue {
  background: #374a67;
  border-left: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
}

.colgreen {
  background: #1a8568;
  border-left: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
}

.colyellow {
  background: #e5b805;
  border-left: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
}

.area2 h2 {
  color: #28bb94
}

.footer {
  background-color: transparent;
}

footer .text-muted {
  background: url("../../../images/bgfooter.jpg") repeat-y 50% 50%;
  line-height: 56px;
  height: 56px;
  color: #ffffff;
  padding: 0 10px;
}

body > .container {
  padding: 0px 15px 0px;
}

.bnrpage {
  margin-top: 160px
}